form {
    margin: 25px auto;
    width: 700px;
    padding: 25px;
    border-radius: 8px;
}

small {
    font-style: italic;
}

label {
    margin: 10px 15px 5px 0;
}

input[type=submit] {
    margin-left: 0.75rem;
    margin-top: 20px;
    padding: 0.75rem;
    background-color: #5e361b;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    margin: 0px auto;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

select {
    padding-left: 10px;
    height: 30px;
    width: 100px;
}

fieldset {
    border: none;
    margin-top: 20px;
}

#terms {
    border: 1px solid grey;
    width: 90%;
    height: 200px;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
}

.checkboxes-box div {
    margin-top: 15px;
}