.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.reasons-box {
    background-color: chocolate;
}

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}

h1 {
    color: brown;
}

p {
    color: white;
}

header {
    background-color: black;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}

/* Footer */

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
}

footer>span {
    color: silver;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
}

footer>p {
    color: silver;
}
