@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    font-family:"Open Sans", Arial, sans-serif;
}

nav {
    padding: 0;
}

nav > a {
    color: beige;
    margin: 1rem;
    text-decoration: none;
}

nav > a:hover {
    color: silver;
}

h1,h2,h3 {
    font-family:"Merienda One", "Brush Script MT",cursive;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: xx-large;
}

ul {
    padding: 1rem;
}

strong {
    font-size: 1.3rem;
}

header > p {
    color: white;
}

header {
    background-color: black;
    color: beige;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}

img {
    border-radius: 8px;
    width: 96%;
}

th,
td {
    border-bottom: 1px solid black;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align:right;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.reasons-box {
    background-color: chocolate;
    padding: 10px 5px 25px 5px;
    border-radius: 8px;
    width: 100%;
}

.reasons-box > h2 {
    font-size: xx-large;
}

.page-header {
    height: 50vh;
}

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}

#drinks {
    padding: 1rem 0;
}

.drinks-box {
    width: 33%;
}

#map {
    border: none;
    width: 100%;
    height: 100%;
}

#contact {
    margin-bottom: 50px;
}

#contact-boxes-container {
    margin: 0 auto;
    width: 66%;
}

/* Footer */

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
}

footer>span {
    color: silver;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

footer>p {
    color: silver;
}
